@model List<Membership_Transactions>
@{
    ViewData["Title"] = "Treehugger's Membership Transactions";
    Layout = "_ReportsLayout";
}

<div class="container">
    <div class="row w3-padding-12">
        <div class="w3-left-align">
            <h2>Membership Transactions</h2>
           
        </div>
    </div>
    <div class="col-md-10 w3-padding-16 table-responsive">
        <table class="w3-table-all w3-small w3-card-4">
            <thead>
                <tr>

                    <th>UserID</th>
                    <th>Amount</th>
                    <th>Transaction Date</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>PaymentID</th>
                    <th>Payment Method</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var memtrans in Model)
                {
                    <tr>

                        <td>@memtrans.UserID</td>
                        <td>@memtrans.Trans_Amt</td>
                        <td>@memtrans.Trans_Date</td>
                        <td>@memtrans.Firstname</td>
                        <td>@memtrans.Lastname</td>
                        <td>@memtrans.username_email</td>
                        <td>@memtrans.PmtID</td>
                        <td>@memtrans.Pmt_Method</td>
                        <td>@memtrans.Comment</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
